div {
    border: 1px solid black;
    width: 147px;
    height: 40px;
}

td {
    padding: 10px;
    margin: 3px;
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
    background: rgb(233, 233, 233);
}