@font-face {
    font-family: Eurofurenceregular;
    src: url('../fonts/eurof55.ttf'); 
  }

  @font-face {
    font-family: Lato-Bold;
    src: url('../fonts/Lato-Bold.ttf'); 
  }


  @font-face {
    font-family: Lato-Regular;
    src: url('../fonts/Lato-Regular.ttf'); 
  }


  