@import '_vars.css';
@import '_nav.css';
@import '_fonts.css';
@import '_prevs.css';
@import '_posts-nav.css';
@import '_footer.css';
@import '_modal.css';


.logo {
    font-family: Eurofurenceregular;
    color: white;
    font-size: 40px;
}
.logo span {
    color: #58c93a;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    height: 100%;
}

.inner-container {
    max-width: var(--inner-container-width);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid #e1e0e0;
}

button:active {
    outline: none;
    border: none;
}
    
button:focus {
    outline:0;
}
    